<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <caching enabled="false"/>
    <directoryBrowse enabled="true"/>
    <staticContent>
      <remove fileExtension=".mp4"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <remove fileExtension=".eot"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Request-Headers:" value="*" />
        <add name="Access-Control-Request-Method:" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <!--<add name="Allow" value="*"/>-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />

      <add name="contact" path="/contact" verb="POST" type="contact, App_Code" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="noti" path="/noti" verb="GET" type="noti, App_Code" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
      <add name="cache" path="/db" verb="GET" type="cache, App_Code" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
      <add name="article" path="/article" verb="POST,DELETE" type="apiArticle, App_Code" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="img" path="/img" verb="GET,POST,DELETE" type="img, App_Code" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="json" path="/json" verb="POST" type="json, App_Code" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="temp" path="/temp" verb="POST" type="temp, App_Code" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="page" path="/*.html" verb="GET" type="page, App_Code" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>