

                        <div class="col-sm-4 header-logo">
                            <div id="logo">
                                <a href="../">
                                    <img src="image/logo/logo.png" title="Your Store" alt="Your Store" class="img-responsive" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-5 header-search">
                            <div id="searchbox" class="input-group ">
                                <input type="text" name="search" value="" placeholder="Tìm kiếm..." class="form-control input-lg" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-lg" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>