

                <div class="box-category">
                    <div class="box-heading">Sản phẩm<i class="fa fa-angle-down" aria-hidden="true"></i></div>
                </div>
                <div class="box-content-category">
                    <ul id="nav-one" class="dropmenu">
                        {{#each articles  ^ Tags != null && string.Join(";", Tags).IndexOf("product") != -1 }}
                        <li class="top_level"><a href="{{#url Title}}">{{Title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
 